name: Deploy para VM Local

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted  # Roda na própria VM!
    
    steps:
    - name: Checkout do código
      uses: actions/checkout@v3
    
    - name: Atualizar site
      run: |
        cd /var/www/html
        git fetch origin main # Puxa as informações da nova versão, mas não mescla
        git reset --hard origin/main # FORÇA o repositório local a ser idêntico ao remoto (GitHub)
        sudo systemctl restart nginx
        echo "Deploy realizado com sucesso em $(date)"